.container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
}

.login-form {
  width: 70%;
  margin: auto;
  margin-top: 10vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
