.container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
}

.login-form {
  width: 70%;
  margin: auto;
  margin-top: 10vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-card {
  width: 100% !important;
  margin: 3rem 0;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 50px;
}

.posts-container .post {
  margin: 10px;
  padding: 10px;
}

.posts-container .post .header {
  font-size: 20px;
}

.posts-container .post .content {
  font-size: 14px;
}

.mb-5 {
  margin-bottom: 50px;
}
